        <!-- Modal Basic -->
        <div class="modal fade modalbox" id="ModalBasic" data-bs-backdrop="static" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mutation table</h5>
                        <a href="#" data-bs-dismiss="modal">Close</a>
                    </div>
                    <div class="modal-body">
                        
                        <div class="table-responsive">

     
                            <table class="table table-striped"
                            >   <thead>
                                    <tr>
                                        <th scope="col" >1. <small>Unmutated</small></th>
                                        <th scope="col">2. <small>Soft</small></th>
                                        <th scope="col">3. <small>Breathed</small></th>
                                        <th scope="col">4. <small>Hard</small></th>
                                        <th scope="col">5. <small>Mixed</small></th>
                                        <th scope="col">6. <small>after “th”</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">B</th>
                                        <td class="">V</td>
                                        <td class=""> </td>
                                        <td class="">P</td>
                                        <td class="">F</td>
                                        <td class="">V</td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">Ch</th>
                                        <td class="">J</td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">D</th>
                                        <td class="">Dh</td>
                                        <td class=""> </td>
                                        <td class="">T</td>
                                        <td class="">T</td>
                                        <td class="">T</td>
                                    </tr>
            
            
                                    <tr >
                                        <th scope="row"><small>G<br>+ a, e, i, y</small></th>
                                        <td class="">—</td>
                                        <td class=""> </td>
                                        <td class="">K</td>
                                        <td class="">H</td>
                                        <td class="">H</td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row"><small>G<br>+ o, u, ro, ru</small></th>
                                        <td class="">W</td>
                                        <td class=""></td>
                                        <td class="">K</td>
                                        <td class="">Hw</td>
                                        <td class="">W</td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row"><small>G<br>+ l, r</small></th>
                                        <td class="">—</td>
                                        <td class=""></td>
                                        <td class="">K</td>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">Gw</th>
                                        <td class="">W</td>
                                        <td class=""></td>
                                        <td class="">Kw</td>
                                        <td class="">Hw</td>
                                        <td class="">W</td>
                                    </tr>
            
            
                                    <tr>
                                        <th scope="row">K</th>
                                        <td class="">G¹</td>
                                        <td class="">H²</td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">M</th>
                                        <td class="">V</td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class="">F</td>
                                        <td class="">V</td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">P</th>
                                        <td class="">B¹</td>
                                        <td class="">F</td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                    </tr>
            
                                    <tr>
                                        <th scope="row">T</th>
                                        <td class="">D¹</td>
                                        <td class="">Th</td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                        <td class=""> </td>
                                    </tr>   
                                </tbody>
                                
                                 <tfoot>
                                    <tr>
                                    <td colspan="6">
                                    ¹ No change if the previous word ends with S or Th. <br>
                                    ² No change if followed by L, N or R
                                    </td>
                                </tr>
                                 </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- * Modal Basic -->