<!-- Share Quick Links Sheet -->
<div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetQuick">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Quick Links</h5>
    </div>
  
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <li>
                <a href="#" class="btn btn-list" data-bs-toggle="offcanvas" data-bs-target="#actionSheetMutate" >
                    
                    <span>
                        <ion-icon name="cog-outline"></ion-icon>
                        
                        Quick Muitation Table
                    </span>
                </a>

               
            </li>
            <li>
                <a href="https://sites.google.com/site/orssempel/verbow" target="_blank" class="btn btn-list" data-bs-dismiss="offcanvas" >
                    <span>
                        <ion-icon name="skull-outline"></ion-icon>
                        Verbow Warlinnen
                    </span>
                </a>
            </li>

        </ul>

     

    </div>
</div>
<!-- * Share Action Sheet -->