<!doctype html>
<html lang="en">
  {{- partial "head.html" . -}}



  <body>

    {{- partial "preloader.html" . -}}

    {{- partial "masthead.html" . -}}

  
     
  
      <!-- App Capsule -->
    
      <div id="appCapsule" class="full-height">
  
  

                {{- block "main" . }}{{- end }}



  
  
  
      </div>
      <!-- * App Capsule -->
      {{- partial "footer-bar.html" . -}}
   
    
    {{- partial "hidden.html" . -}}
    
    {{ if .IsHome }}{{- partial "install.html" . -}}{{ end }}

  
    {{- partial "script.html" . -}}

</body>

</html>
