<!doctype html>
<html lang="en">
  {{- partial "head.html" . -}}



  <body>

    {{- partial "preloader.html" . -}}

    <!--{{ if not .IsHome }}{{- partial "masthead.html" . -}}{{ end }}-->

  
     
  
      <!-- App Capsule -->
    
      
  
  

                {{- block "main" . }}{{- end }}



  
  
  
      
      <!-- * App Capsule -->
      {{ if not .IsHome }}{{- partial "footer-bar.html" . -}}{{ end }}
   
    
    {{- partial "hidden.html" . -}}
    
    {{ if .IsHome }}{{- partial "install.html" . -}}{{ end }}

  
    {{- partial "script.html" . -}}

</body>

</html>
