{{ define "main" }}
<div id="appCapsule">
<div class="blog-post">
    <div class="mb-2">

        {{ $wide := resources.Get "/img/bbc800x400.jpg" }}
        
        <img src="{{ $wide.RelPermalink }}" alt="image" class="imaged square w-100">
    </div>
    <h1 class="title">{{$.Page.Params.title}}</h1>

    <div class="post-header">
        <div>
            <a href="#">
                {{ $ava := resources.Get "/img/bbc800x400.jpg" }}
                <img src="{{ $ava.RelPermalink }}" alt="avatar" class="imaged w24 rounded me-05">
                BBC Radio
            </a>
        </div>
        Jun 11, 2020
    </div>
    <div class="post-body">
            {{ .Content }}
    </div>
</div>


    <div class="section mt-4 mb-4">
        <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="offcanvas"
            data-bs-target="#actionSheetShare">
            <ion-icon name="share-outline"></ion-icon>
            Share This Post
        </button>
    </div>

    <div id="end"></div>
</div>
{{ end }}