{{ define "main" }}
<div class="page-content pb-5 mb-2" >
<div class="card mb-0 rounded-0 bg-18" data-card-height="400" style="height:400px">
   
    <div class="card-top notch-clear">
        <a href="#" data-menu="menu-share" class="icon icon-xl float-end"><i class="fa fa-share-alt color-white pt-1"></i></a>
        <a href="#" data-back-button  class="icon icon-xl color-white font-15 font-700"><i class="fa fa-arrow-left color-white pt-2 font-14 me-n2"></i> Back</a>
     
    </div>
    <div class="card-bottom p-3">
        <h1 class="color-white pt-2">
            {{$.Page.Params.description}}
        </h1>
    </div>
    <div class="card-overlay bg-gradient"></div>
</div>


<div class="card mb-0 " >
    <div class="content mt-2">
        <div class="d-flex mb-2">
            <div class="me-auto"><span class="opacity-90 font-10"><i class="far fa-clock pe-2"></i>15th Dec</span></div>
            <div class="mx-auto"><span class="opacity-90 font-10"><i class="far fa-comment pe-2"></i>14k Comments</span></div>
            <div class="ms-auto"><span class="opacity-90 font-10"><i class="fa fa-cloud pe-2"></i>25k Shares</span></div>
        </div>
        <div class="divider mb-3"></div>
        <p>
            {{ .Content }}
        </p>

    </div>

    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
        Tooltip on top
      </button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
        Tooltip on right
      </button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
        Tooltip on bottom
      </button>
      <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
        Tooltip on left
      </button>
</div>

</div>
{{ end }}