{{ define "main" }}
{{- partial "mastheadscroll.html" . -}}








    <!-- App Capsule -->
    <div id="appCapsule" >

  
      {{ .Content }}



      {{ range $elem_index, $elem_val := .Site.Data.pancol }}
      {{ range where $.Site.Data.dict "english" $elem_val.name }}
      <div class="section mt-3 mb-3">
         <div class="card">
         <svg height="300">
                 <rect width="100%" height="100%" style="fill:#{{$elem_val.hex}}" />
                 <path id="rect3250" sodipodi:nodetypes="cczcc" style="opacity:.19907;fill:#ffffff" d="m427.59 330.75h300.34s-47.35 61.4-122.43 102.97c-75.09 41.58-177.91 63.33-177.91 63.33v-166.3z"/>

               </svg>
             <div class="card-body">
                 <h5 class="card-title">{{ .cornish }}</h5>
                 <p class="card-text">{{ .english }}</p>
             </div>
         </div>
     </div>
       <br/>

   {{ end }}
   {{ end }}

      {{ range $elem_index, $elem_val := .Site.Data.hexcol }}
      {{ range where $.Site.Data.dict "english" $elem_val.name }}

      <div class="section mt-3 mb-3">
         <div class="card">
         <svg height="300">
                 <rect width="100%" height="100%" style="fill:{{ .english }}" />
               </svg>
             <div class="card-body">
                 <h5 class="card-title">{{ .cornish }}</h5>
                 <p class="card-text">{{ .english }}</p>
             </div>
         </div>
     </div>
       <br/>
      
   {{ end }}
   {{ end }}

  





    </div>
    <!-- * App Capsule -->


{{ end }}