{{ define "main" }}

    <!-- App Header -->

    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">


        <div class="error-page" style="text-align: left;">
            <h1 class="title" style="text-align: left; font-size:36px">
                Welcome to<br/><mark class="bg-warning">cornish.app</mark>
            </h1>
            <p>Reusable components designed for the mobile interface and ready to use.</p>
            

               
            <div class="comment-block">
                <!--item -->
                <div class="item" style="margin-bottom:15px">
                    <div class="avatar">
                        <img src="/img/favicon.png" alt="avatar" class="imaged w64 rounded">
                    </div>
                    <div class="in">
                        <div class="comment-header">
                            <h4 class="title">Diego Morata</h4>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- * item -->
                <!--item -->
                <div class="item" style="margin-bottom:15px">
                    <div class="avatar">
                        <img data-vibrate="500" src="/img/favicon.png" alt="avatar" class="imaged w64 rounded">
                    </div>
                    <div class="in">
                        <div class="comment-header">
                            <h4 class="title">Diego Morata</h4>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- * item -->
                <!--item -->
                <div class="item" style="margin-bottom:15px">
                    <div class="avatar">
                        <img src="/img/favicon.png" alt="avatar" class="imaged w64 rounded">
                    </div>
                    <div class="in">
                        <div class="comment-header">
                            <h4 class="title">Diego Morata</h4>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>
                </div>
                <!-- * item -->
            </div>
            
        </div>

        
        
        <div class="carousel-button-footer">
                <div class="error-page">
                <div class="row">
                    <div class="col-12">
                        <a href="home" class="btn btn-warning btn-block">Continue</a>
                    </div>
                </div>
                </div>
        </div>

    </div>
    <!-- * App Capsule -->

        

{{ end }}