{{ define "main" }}

    <!-- App Header -->

    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <ul class="listview image-listview media mb-2">
            
            
          
            <li>
                <div class="item"> 
                                
                    
                    <div >
                        <div>
                           dylun
                          
                            <div class="text-muted">Monday</div>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
        
    
        <div class="section text-center">
            <div id="greeting">
                <h1>Hello,ray world!</h1>
                <p>It's a lovely day in the neighborhood.</p>
            </div>
            <!-- carousel slider -->
            <div class="carousel-slider splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide p-2">
                          
                                <div class="animated-title">
                                    <div class="text-top">
                                      <div>
                                        <span>kernewek</span>
                                      </div>
                                    </div>
                                    <div class="text-bottom">
                                      <div>english</div>
                                    </div>
                                  </div>
                        
                         
                        </li>
                        <li class="splide__slide p-2">
                            <img src="assets/img/sample/photo/vector2.png" alt="alt" class="imaged w-100 square mb-4">
                            <h2>PWA Ready</h2>
                            <p>It is a progressive web app. Add to home screen and use it like an app.</p>
                        </li>
                        <li class="splide__slide p-2">
                                <div class="card" style="height:300px">
        <div class="animated-title">
            <div class="text-top">
              <div>
                <span>kernewek</span>
              </div>
            </div>
            <div class="text-bottom">
              <div>english</div>
            </div>
          </div>

    </div>
                            <img src="assets/img/sample/photo/vector3.png" alt="alt" class="imaged w-100 square mb-4">
                            <h2>Great for phones & tablets</h2>
                            <p>Compatible with all mobile phones and tablet resolutions.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- * carousel slider -->
    
            <div class="carousel-button-footer">
                <div class="row">
                    <div class="col-6">
                        <a href="#" class="btn btn-secondary btn-lg btn-block goBack">Go Back</a>
                    </div>
                    <div class="col-6">
                        <a href="#"  class="btn btn-primary btn-lg btn-block renew">Get Started</a>
                    </div>
                </div>
            </div>

    </div>
    <!-- * App Capsule -->

        

{{ end }}