{{ define "main" }}
{{- partial "masthead.html" . -}}

        
<div id="appCapsule">   
    <ul class="listview image-listview media mb-2">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li>
            <a href="{{ .RelPermalink }}" class="item">
                
                {{ with .Params.images }}
                {{$path := index . 0 }}
                {{ $imgsrc := resources.Get $path }}
                <div class="imageWrapper">                    
                    <img src="{{ $imgsrc.RelPermalink }}" alt="image" class="imaged w64">
                </div>
                {{ end }}
                <div class="in">
                    <div>
                        {{ .Title }}
                        <div class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</div>
                    </div>
                    <span class="badge badge-primary">{{.Params.label}}</span>
                </div>
            </a>
        </li>
        {{ end }}        
    </ul>    
</div>
            

{{ end }}