{{ define "main" }}
{{- partial "masthead.html" . -}}

        
<div id="appCapsule">   
    <ul class="listview image-listview media mb-2">
        {{ range .Pages.ByPublishDate.Reverse }}
        <li>
            <a href="{{ .RelPermalink }}" class="item">
                
                {{ with .Params.images }}
                {{ $path := index . 0 }}
                {{ $imgsrc := resources.Get $path }}
                {{ $imgsrc:= $imgsrc.Fill "64x64 center" }}


                <div class="imageWrapper">                    
                    <img src="{{ $imgsrc.RelPermalink }}" alt="image" class="imaged w32">
                </div>
                {{ end }}
                <div class="in">
                    <div>
                        {{ .Title }}
                        <div class="text-muted">{{ .PublishDate.Format "January 2, 2006" }}</div>
                    </div>
                    {{ if eq .Params.withaudio true }}
                    <span class="badge badge-primary">
                        <!--{{.Params.label}}-->
                        
                        <ion-icon name="volume-high-outline"></ion-icon>
                        
                    </span>{{ end }}
                </div>
            </a>
        </li>
        {{ end }}        
    </ul>    
</div>
            

{{ end }}