{{ define "main" }}


    
<div class="page-content card card-style">
    <div class="content">
        <div class="d-flex">
            <div class="align-self-center">
                <h2 class="mb-0">Table of Contents</h2>
            </div>
            <div class="align-self-center ms-auto">
                <h6 class="mb-0 opacity-30 font-13">2hr, 25min</h6>
            </div>
        </div>
        
        <div class="divider mt-3 mb-3"></div>
        
        <a href="#chapter-1" class="d-flex mb-3">
            <div class="align-self-center">
                <h1 class="pe-3 font-40 font-900 opacity-30">01</h1>
            </div>
            <div class="align-self-center">
                <h4 class="mb-n1 font-15">Basic PWA Principles</h4>
                <p class="font-10 opacity-50">51 Minutes</p>
            </div>
            <div class="align-self-center ms-auto">
                <i class="fa fa-play-circle fa-2x color-highlight"></i>
            </div>
        </a>
        

        
    </div>
</div>
{{ end }}