{{ define "main" }}

<div class="page-content header-clear-medium">
        
    <div class="card card-style">
        <div class="content">
            <h4 class="mb-0">
                {{ .Title }}
            </h4>
            {{ range .Param "authors" }}{{ . }}{{ end }}
            <p class="mb-0 color-highlight font-12 bottom-10">{{ .PublishDate.Format "January 2, 2006" }}</p>
            <p>
                {{ partial "metadata.html" . }}
            </p>
        </div>
    </div>

    <div class="card card-style">
        <div class="content">
            {{ .Content }}
        </div>
    </div>

  

    
 
</div>

{{ end }}