<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#000000">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }} 
  <title>{{ $title }}</title>
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}A mobile Cornish lanuage app for learners{{ end }}" /> 

  <meta name="keywords" content="Kernewek app"/>

  {{ $sass := resources.Get "sass/style.scss" }}
  {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

  
  {{ $icon := resources.Get "img/favicon.png" }}  <link  rel="icon" type="image/png" href="{{ $icon.RelPermalink }}" sizes="32x32">
  {{ $appletouch := resources.Get "img/icon/192x192.png" }}  <link rel="apple-touch-icon" sizes="180x180"  href="{{ $appletouch.RelPermalink }}">

  <link rel="manifest" href="/manifest.json">
 
</head>