
  <!-- Share Action Sheet -->
  <div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetShare">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Share with</h5>
    </div>
    {{ $pageurl := .Permalink }}
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas" title="Share this on Facebook" onclick="window.open('http://www.facebook.com/share.php?u={{ $pageurl }}');">
                    <span>
                        <ion-icon name="logo-facebook"></ion-icon>
                        Facebook
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas" title="Share this on Twitter" onclick="window.open('http://twitter.com/intent/tweet?text={{.Title}}&url={{ $pageurl }}');">
                    <span>
                        <ion-icon name="logo-twitter"></ion-icon>
                        Twitter
                    </span>
                </a>
            </li>
            {{ if .Params.image }}
            <li>
                    <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas" title="Share this on Pinterest" onclick="window.open('https://pinterest.com/pin/create/button/?url=&media={{ .Params.image }}&description=');">
                    <span>
                        <ion-icon name="logo-pinterest"></ion-icon>
                        Pinterest
                    </span>
                </a>
            </li>
            {{ end }}
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas" title="Share this on Linkedin" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ $pageurl }}&title=&summary=&source=');">
                    <span>
                        <ion-icon name="logo-linkedin"></ion-icon>
                        Linkedin
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- * Share Action Sheet -->



  <!-- Share Quick Links Sheet -->
  <div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetQuick">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Quick Links</h5>
    </div>
  
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <li>
                <a href="#" class="btn btn-list" data-bs-toggle="offcanvas" data-bs-target="#actionSheetMutate" >
                    <span>
                        <ion-icon name="cog-outline"></ion-icon>
                        
                        Quick Muitation Table
                    </span>
                </a>

               
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas" >
                    <span>
                        <ion-icon name="skull-outline"></ion-icon>
                        link not woerking
                    </span>
                </a>
            </li>

        </ul>

     

    </div>
</div>
<!-- * Share Action Sheet -->

  <!-- Share Mutations Sheet -->
  <div class="offcanvas offcanvas-bottom action-sheet inset" tabindex="-1" id="actionSheetMutate"  data-bs-dismiss="offcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Easy Mutation Table</h5>
    </div>
       
        <div class="table-responsive">

     
                <table class="table table-striped"
                >   <thead>
                        <tr>
                            <th scope="col" >1. <small>Unmutated</small></th>
                            <th scope="col">2. <small>Soft</small></th>
                            <th scope="col">3. <small>Breathed</small></th>
                            <th scope="col">4. <small>Hard</small></th>
                            <th scope="col">5. <small>Mixed</small></th>
                            <th scope="col">6. <small>after “th”</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">B</th>
                            <td class="">V</td>
                            <td class=""> </td>
                            <td class="">P</td>
                            <td class="">F</td>
                            <td class="">V</td>
                        </tr>

                        <tr>
                            <th scope="row">Ch</th>
                            <td class="">J</td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class=""> </td>
                        </tr>

                        <tr>
                            <th scope="row">D</th>
                            <td class="">Dh</td>
                            <td class=""> </td>
                            <td class="">T</td>
                            <td class="">T</td>
                            <td class="">T</td>
                        </tr>


                        <tr >
                            <th scope="row"><small>G<br>+ a, e, i, y</small></th>
                            <td class="">—</td>
                            <td class=""> </td>
                            <td class="">K</td>
                            <td class="">H</td>
                            <td class="">H</td>
                        </tr>

                        <tr>
                            <th scope="row"><small>G<br>+ o, u, ro, ru</small></th>
                            <td class="">W</td>
                            <td class=""></td>
                            <td class="">K</td>
                            <td class="">Hw</td>
                            <td class="">W</td>
                        </tr>

                        <tr>
                            <th scope="row"><small>G<br>+ l, r</small></th>
                            <td class="">—</td>
                            <td class=""></td>
                            <td class="">K</td>
                            <td class=""></td>
                            <td class=""></td>
                        </tr>

                        <tr>
                            <th scope="row">Gw</th>
                            <td class="">W</td>
                            <td class=""></td>
                            <td class="">Kw</td>
                            <td class="">Hw</td>
                            <td class="">W</td>
                        </tr>


                        <tr>
                            <th scope="row">K</th>
                            <td class="">G¹</td>
                            <td class="">H²</td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class=""> </td>
                        </tr>

                        <tr>
                            <th scope="row">M</th>
                            <td class="">V</td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class="">F</td>
                            <td class="">V</td>
                        </tr>

                        <tr>
                            <th scope="row">P</th>
                            <td class="">B¹</td>
                            <td class="">F</td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class=""> </td>
                        </tr>

                        <tr>
                            <th scope="row">T</th>
                            <td class="">D¹</td>
                            <td class="">Th</td>
                            <td class=""> </td>
                            <td class=""> </td>
                            <td class=""> </td>
                        </tr>   
                    </tbody>
                    
                     <tfoot>
                        <tr>
                        <td colspan="6">
                        ¹ No change if the previous word ends with S or Th. <br>
                        ² No change if followed by L, N or R
                        </td>
                    </tr>
                     </tfoot>
                </table>
        

            
            </div>
    </div>



</div>
<!-- * Share Action Sheet -->



<!-- App Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarPanel">
    <div class="offcanvas-body">
        <!-- profile box -->
        <div class="profileBox">{{ $icon := resources.Get "img/favicon.png" }} 
            <div class="image-wrapper">
                
                <img src="{{ $icon.RelPermalink }}" alt="image" class="imaged rounded">
            </div>
            <div class="in">
                <strong>Julian Gruber</strong>
                <div class="text-muted">
                    <ion-icon name="location"></ion-icon>
                    California
                </div>
            </div>
            <a href="#" class="close-sidebar-button" data-bs-dismiss="offcanvas">
                <ion-icon name="close"></ion-icon>
            </a>
        </div>
        <!-- * profile box -->

        <ul class="listview flush transparent no-line image-listview mt-2">
            <li>
                <a href="/slides/numbers" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="home-outline"></ion-icon>
                    </div>
                    <div class="in">
                        slides
                    </div>
                </a>
            </li>
            <li>
                <a href="/annwd" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="cube-outline"></ion-icon>
                    </div>
                    <div class="in">
                        anwd
                    </div>
                </a>
            </li>
            <li>
                <a href="app-pages.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="layers-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Pages</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Chat</div>
                        <span class="badge badge-danger">5</span>
                    </div>
                </a>
            </li>
            <li>
                <div class="item">
                    <div class="icon-box bg-primary">
                        <ion-icon name="moon-outline"></ion-icon>
                    </div>
                    <div class="in">
                        <div>Dark Mode</div>
                        <div class="form-check form-switch">
                            <input class="form-check-input dark-mode-switch" type="checkbox" id="darkmodesidebar">
                            <label class="form-check-label" for="darkmodesidebar"></label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="listview-title mt-2 mb-1">
            <span>Friends</span>
        </div>
        <ul class="listview image-listview flush transparent no-line">
            <li>
                <a href="page-chat.html" class="item">
                    <img src="{{ $icon.RelPermalink }}" alt="image" class="image">
                    <div class="in">
                        <div>Sophie Asveld</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" class="item">
                    <img src="{{ $icon.RelPermalink }}" alt="image" class="image">
                    <div class="in">
                        <div>Sebastian Bennett</div>
                        <span class="badge badge-danger">6</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" class="item">
                    <img src="{{ $icon.RelPermalink }}" alt="image" class="image">
                    <div class="in">
                        <div>Beth Murphy</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" class="item">
                    <img src="{{ $icon.RelPermalink }}" alt="image" class="image">
                    <div class="in">
                        <div>Amelia Cabal</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="page-chat.html" class="item">
                    <img src="{{ $icon.RelPermalink }}" alt="image" class="image">
                    <div class="in">
                        <div>Henry Doe</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- sidebar buttons -->
    <div class="sidebar-buttons">
        <a href="#" class="button">
            <ion-icon name="person-outline"></ion-icon>
        </a>
        <a href="#" class="button">
            <ion-icon name="archive-outline"></ion-icon>
        </a>
        <a href="#" class="button">
            <ion-icon name="settings-outline"></ion-icon>
        </a>
        <a href="#" class="button">
            <ion-icon name="log-out-outline"></ion-icon>
        </a>
    </div>
    <!-- * sidebar buttons -->
</div>
<!-- * App Sidebar -->