<div class="section mt-3 mb-3">
    <div class="card">
        {{ $image := .Get "img" }}
        {{ $icon := .Get "icon" }}
        {{ $link := .Get "link" }}
        {{ $imglink := resources.Get $image }}
        <img src="{{ $image }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h6 class="card-subtitle">{{ .Get "subtitle" }}</h6>
            <h5 class="card-title">{{ .Get "title" }}</h5>
            <p class="card-text">{{ .Get "bodytext"}}</p>
            <a href="{{ $link }}" class="btn btn-primary">
                <ion-icon name="{{ $icon }}" role="img" class="md hydrated" aria-label="cube outline"></ion-icon>
                {{ .Get "linktext" }}
            </a>
        </div>
    </div>
</div>



