
<div class="message-item" style="padding: 2px 0px;">
    {{ with .Get "icon" }}
    {{ $imgicon := resources.Get .  }}
    {{ $imgicon:= $imgicon.Fill "64x64 center" }}
    <img src="{{ $imgicon.RelPermalink }}" alt="avatar" class="avatar">
    {{ end }}
    <div class="content">
        <div class="title">{{ .Get "name" }}</div>
        <div class="bubble">
            {{ with .Get "img" }}
                {{ $imglink := resources.Get .  }}
            <img src="{{ $imglink.RelPermalink }}" alt="photo" class="imaged w160"><br/>
            {{ end }}
            
            <span data-bs-toggle="tooltip" data-bs-placement="top" 
                title="English">
                {{ .Get "text" }}</span>
                
        </div>
        <div class="footer" style="text-align: left;">{{ .Get "time" }}</div>
    </div>
</div>

