<div class="mb-5">



{{ if .Page.Params.data }}
                                      
  {{ $counter := 0 }}
  {{ $dir :=  .Page.Params.data }}

  
  <div class="text-end collapse show" id="text{{ $counter }}">
  <button onclick="document.getElementById('end').scrollIntoView({ behavior: 'smooth', block: 'start' });document.getElementById('sound{{ $counter }}').play();" 
  class="btn btn-success me-1 mb-1" type="button" data-bs-toggle="collapse" 
  data-bs-target="#text{{ $counter }}" >START</button> 
  </div>



{{ range ( index (index .Site.Data.annowodhow .Page.Params.data) "cornish" ) }}


{{ if eq $.Page.Params.withaudio true }}
  {{ $path := print "/audio/annowodhow/" $dir "/" $counter ".mp3"}}
  {{ $sndlink := resources.Get $path }}
  <audio id="sound{{ $counter }}" src="{{ $sndlink.RelPermalink }}" preload="auto"></audio>

 {{ end }}
  <div class="collapse" id="text{{ $counter }}" >
    
    <div onclick="document.getElementById('sound{{ $counter }}').play();">
      <p class="mb-3" data-bs-toggle="tooltip" data-bs-placement="top" 
      title=" {{ index ( index (index $.Site.Data.annowodhow $.Page.Params.data) "english" ) $counter }}">
      {{ index ( index (index $.Site.Data.annowodhow $.Page.Params.data) "cornish" ) $counter  | safeHTML }}
</p>  
    </div>  
    
    {{ $counter = add $counter 1 }}
    <div class="text-end collapse show" id="text{{ $counter }}">
    <button onclick="
      document.getElementById('end').scrollIntoView({ behavior: 'smooth', block: 'start' });
      document.getElementById('sound{{ $counter }}').play();
      "
    class="btn btn-success me-1 mb-1" 
    type="button" data-bs-toggle="collapse" 
    data-bs-target="#text{{ $counter }}">Continue</button>
    </div>
  
  </div>

{{ end }}
{{ end }}
</div>



