<li class="splide__slide">
    {{ $colour := .Get "col" }}
    {{ $text := .Get "text" }}

    

    <svg version="1.1"
    id="svg2" xmlns:ns1="http://sozi.baierouge.fr" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="smerrell_polaroid_gloss.svg" sodipodi:version="0.32" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="369.99px"
    height="418.24px" viewBox="0 0 369.99 418.24" enable-background="new 0 0 369.99 418.24" xml:space="preserve">
 <filter  id="filter2912" inkscape:collect="always">
   <feGaussianBlur  id="feGaussianBlur2914" stdDeviation="3.4782385" inkscape:collect="always"></feGaussianBlur>
 </filter>
 <sodipodi:namedview  width="800px" inkscape:zoom="1.895" showgrid="false" inkscape:cx="200" gridtolerance="10000" borderopacity="1.0" pagecolor="#ffffff" objecttolerance="10" guidetolerance="10" bordercolor="#666666" inkscape:cy="200" id="base" inkscape:pageshadow="2" inkscape:window-height="964" inkscape:current-layer="layer1" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px">
   </sodipodi:namedview>
 <g id="rect2893" sodipodi:nodetypes="ccczcc" filter="url(#filter2912)">
   <path fill="#8E8E8E" d="M8.675,14.117H361.69v390.748c0,0-88.259-7.677-176.507-7.677c-88.259,0-176.507,7.677-176.507,7.677
     L8.675,14.117L8.675,14.117z"/>
 </g>
 <rect id="rect2889" x="8.675" y="9.594" fill="#F2F2F2" width="353.015" height="387.23"/>
 <rect id="rect2310" x="24.625" y="23.589" fill="#CCCCCD" width="321.112" height="322.098"/>
 <image overflow="visible" width="1920" height="1920" xlink:href="skate.jpg"  transform="matrix(0.1672 0 0 0.1678 24.6249 23.5886)">
 </image>
 <path id="rect3250" sodipodi:nodetypes="cczcc" opacity="0.1991" fill="#FFFFFF" enable-background="new    " d="M26.493,26.033
   h317.653c0,0-50.079,63.543-129.487,106.562c-79.42,43.03-188.166,65.538-188.166,65.538V26.033z"/>
 <rect x="26.086" y="359.16" fill="none" width="319.235" height="25.083"/>
 <text transform="matrix(1 0 0 1 27.4929 377.4344)" font-family="'DancingScript-Regular'" font-size="17">{{ $text }}</text>
 </svg>
</li>