<li class="splide__slide">
    <div class="card">
    {{ $image := .Get "img" }}
    {{ $icon := .Get "icon" }}
    {{ $imglink := resources.Get $image }}

        <img src="{{ $imglink.RelPermalink }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h6 class="card-subtitle">{{ .Get "subtitle" }}</h6>
            <h5 class="card-title">{{ .Get "title" }}</h5>
            <p class="card-text">{{ .Get "bodytext"}} </p>
            <a href="app-components.html" class="btn btn-primary">
            <ion-icon name="{{ $icon }}" role="img" class="md hydrated" aria-label="cube outline"></ion-icon>
            {{ .Get "linktext" }}
            
            </a>
        </div>
    </div>
</li>