<li class="splide__slide">
    <div class="card">
    {{ $image := .Get "img" }}
    {{ $icon := .Get "icon" }}
    {{ $imglink := resources.Get $image }}

        <img src="{{ $imglink.RelPermalink }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h4 class="card-subtitle">{{ .Get "subtitle" }}</h4>
            {{ with .Get "title" }}<h5 class="card-title">{{ . }}</h5>{{end}}
            <p class="card-text">{{ .Get "bodytext"}} </p>
            
            {{ with .Get "linktext" }}
        
            <a href="app-components.html" class="btn btn-primary">
            <ion-icon name="{{ $icon }}" role="img" class="md hydrated" aria-label="cube outline"></ion-icon>
            {{ . }}
            
            
            </a>
            {{ end}}
        </div>
    </div>
</li>