<div class="section mt-3 mb-3">
    {{ $colour := .Get "col" }}
    {{ $text := .Get "text" }}

    <svg version="1.1"
    id="svg2" xmlns:ns1="http://sozi.baierouge.fr" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="smerrell_polaroid_gloss.svg" sodipodi:version="0.32" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 141.73 141.73" enable-background="new 0 0 141.73 141.73" xml:space="preserve">
 <filter  id="filter2912" inkscape:collect="always">
   <feGaussianBlur  id="feGaussianBlur2914" stdDeviation="0.8" inkscape:collect="always"></feGaussianBlur>
 </filter>
 <g id="rect2893" sodipodi:nodetypes="ccczcc" filter="url(#filter2912)">
   <path fill="#A3A3A3" d="M9.291,3.498h123.148v136.311c0,0-30.789-2.678-61.574-2.678c-30.789,0-61.574,2.678-61.574,2.678L9.291,3.498L9.291,3.498
     z"/>
 </g>
 <rect style="stroke-linejoin:round;stroke:{{ $colour }};stroke-width:.78245;fill:{{ $colour }}" x="10" y="4" fill="none" width="120.364" height="120" ></rect>
 <image overflow="visible" width="300" height="300" xlink:href="skate.jpg"  transform="matrix(0.4105 0 0 0.4105 9.295 3.8312)">
 </image>
 <sodipodi:namedview  width="800px" inkscape:zoom="1.895" showgrid="false" inkscape:cx="200" gridtolerance="10000" borderopacity="1.0" pagecolor="#ffffff" objecttolerance="10" guidetolerance="10" bordercolor="#666666" inkscape:cy="200" id="base" inkscape:pageshadow="2" inkscape:window-height="964" inkscape:current-layer="layer1" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px">
   </sodipodi:namedview>
 <path fill="#F2F2F2" d="M9.295,1.915v135.09h123.14V1.915H9.295z M128.025,120.815H13.705V5.705h114.32V120.815z"/>
 <path id="rect3250" sodipodi:nodetypes="cczcc" opacity="0.1991" fill="#FFFFFF" enable-background="new    " d="M14.71,6.657
   h112.019c0,0-17.66,22.901-45.663,38.405C53.059,60.57,14.71,68.682,14.71,68.682V6.657z"/>
 
 <text transform="matrix(1 0 0 1 15.365 130.2548)"  font-family = "'Inter'"  font-size="4">{{ $text }}</text>
 </svg>







    <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns:ns1="http://sozi.baierouge.fr" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg2" sodipodi:docname="smerrell_polaroid_gloss.svg" viewBox="0 0 350 380" sodipodi:version="0.32" version="1.0" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel">
      <defs id="defs4">
        <filter id="filter2912" inkscape:collect="always"><feGaussianBlur id="feGaussianBlur2914" stdDeviation="3.4782385" inkscape:collect="always"/>
        </filter>
      </defs>
      <sodipodi:namedview id="base" bordercolor="#666666" inkscape:pageshadow="2" guidetolerance="10" pagecolor="#ffffff" gridtolerance="10000" inkscape:window-height="964" width="800px" inkscape:zoom="1.895" objecttolerance="10" showgrid="false" borderopacity="1.0" inkscape:current-layer="layer1" inkscape:cx="200" inkscape:cy="200" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px"/>

      <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer" transform="translate(-413.06 -322.28)">

        <g id="g3271" transform="translate(9.9102 9.3779)">

          <path id="rect2893" sodipodi:nodetypes="ccczcc" style="filter:url(#filter2912);fill:#999999" d="m413.06 322.28h330.18v365.47s-82.55-7.18-165.09-7.18c-82.55 0-165.09 7.18-165.09 7.18v-365.47z"/>
          <rect id="rect2889" style="fill:#f2f2f2" height="362.18" width="330.18" y="318.05" x="413.06"/>
          <rect id="rect2916" style="opacity:.55556;fill:#cccccc" height="308.62" width="306.51" y="328.2" x="424.89"/>
          <rect id="rect2310" style="stroke-linejoin:round;stroke:{{ $colour }};stroke-width:.78245;fill:{{ $colour }}" height="300.34" width="300.34" y="331.14" x="427.98"/>
          <path id="rect3250" sodipodi:nodetypes="cczcc" style="opacity:.19907;fill:#ffffff" d="m427.59 330.75h300.34s-47.35 61.4-122.43 102.97c-75.09 41.58-177.91 63.33-177.91 63.33v-166.3z"/>
          
        </g>
      </g>
<text font-size="15" font-family = "sans-serif" transform="matrix(1 0 0 1 25 350)">{{ $text }}</text>

    </svg>

    





</div>
<div class="section mt-3 mb-3">




    <button title="download" class="btn btn-success me-1 mb-1" >Save Image</button>
<script>
  const output = {"name": "{{ $text }}.png", "width": 1080, "height": 1080}
  document.querySelector("button").onclick = () => {
      const svgElem = document.querySelector("svg")
      // const uriData = `data:image/svg+xml;base64,${btoa(svgElem.outerHTML)}` // it may fail.
      const uriData = `data:image/svg+xml;base64,${btoa(new XMLSerializer().serializeToString(svgElem))}`
      const img = new Image()
      img.src = uriData
      img.onload = () => {
          const canvas = document.createElement("canvas");
          [canvas.width, canvas.height] = [output.width, output.height]
          const ctx = canvas.getContext("2d")
          ctx.drawImage(img, 0, 0, output.width, output.height)

          // 👇 download
          const a = document.createElement("a")
          const quality = 1.0 // https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/imageSmoothingQuality
          a.href = canvas.toDataURL("image/png", quality)
          a.download = output.name
          a.append(canvas)
          a.click()
          a.remove()
      }
  }
</script>
</div>