
    {{ $colour := .Get "col" }}
    {{ $text := .Get "text" }}
    <div class="section mt-3 mb-3">


      <svg version="1.1"
      id="svg2" xmlns:ns1="http://sozi.baierouge.fr" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="smerrell_polaroid_gloss.svg" sodipodi:version="0.32" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="369.99px"
      height="418.24px" viewBox="0 0 369.99 418.24" enable-background="new 0 0 369.99 418.24" xml:space="preserve">
   <filter  id="filter2912" inkscape:collect="always">
     <feGaussianBlur  id="feGaussianBlur2914" stdDeviation="3.4782385" inkscape:collect="always"></feGaussianBlur>
   </filter>
   <sodipodi:namedview  width="800px" inkscape:zoom="1.895" showgrid="false" inkscape:cx="200" gridtolerance="10000" borderopacity="1.0" pagecolor="#ffffff" objecttolerance="10" guidetolerance="10" bordercolor="#666666" inkscape:cy="200" id="base" inkscape:pageshadow="2" inkscape:window-height="964" inkscape:current-layer="layer1" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px">
     </sodipodi:namedview>
   <g id="rect2893" sodipodi:nodetypes="ccczcc" filter="url(#filter2912)">
     <path fill="#8E8E8E" d="M8.675,14.117H361.69v390.748c0,0-88.259-7.677-176.507-7.677c-88.259,0-176.507,7.677-176.507,7.677
       L8.675,14.117L8.675,14.117z"/>
   </g>
   <rect id="rect2889" x="8.675" y="9.594" fill="#F2F2F2" width="353.015" height="387.23"/>
   <rect id="rect2310" x="24.625" y="23.589" fill="#CCCCCD" width="321.112" height="322.098"/>
   <image overflow="visible" width="1920" height="1920" xlink:href="skate.jpg"  transform="matrix(0.1672 0 0 0.1678 24.6249 23.5886)">
   </image>
   <path id="rect3250" sodipodi:nodetypes="cczcc" opacity="0.1991" fill="#FFFFFF" enable-background="new    " d="M26.493,26.033
     h317.653c0,0-50.079,63.543-129.487,106.562c-79.42,43.03-188.166,65.538-188.166,65.538V26.033z"/>
   <rect x="26.086" y="359.16" fill="none" width="319.235" height="25.083"/>
   <text transform="matrix(1 0 0 1 27.4929 377.4344)" font-family="'Inter'" font-size="17">fgfg Kernewek</text>
   </svg>








    <svg xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns:ns1="http://sozi.baierouge.fr" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg2" sodipodi:docname="smerrell_polaroid_gloss.svg" viewBox="0 0 350 380" sodipodi:version="0.32" version="1.0" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel">
      <defs id="defs4">
        <filter id="filter2912" inkscape:collect="always"><feGaussianBlur id="feGaussianBlur2914" stdDeviation="3.4782385" inkscape:collect="always"/>
        </filter>
      </defs>
      <sodipodi:namedview id="base" bordercolor="#666666" inkscape:pageshadow="2" guidetolerance="10" pagecolor="#ffffff" gridtolerance="10000" inkscape:window-height="964" width="800px" inkscape:zoom="1.895" objecttolerance="10" showgrid="false" borderopacity="1.0" inkscape:current-layer="layer1" inkscape:cx="200" inkscape:cy="200" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px"/>

      <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer" transform="translate(-413.06 -322.28)">

        <g id="g3271" transform="translate(9.9102 9.3779)">

          <path id="rect2893" sodipodi:nodetypes="ccczcc" style="filter:url(#filter2912);fill:#999999" d="m413.06 322.28h330.18v365.47s-82.55-7.18-165.09-7.18c-82.55 0-165.09 7.18-165.09 7.18v-365.47z"/>
          <rect id="rect2889" style="fill:#f2f2f2" height="362.18" width="330.18" y="318.05" x="413.06"/>
          <rect id="rect2916" style="opacity:.55556;fill:#cccccc" height="308.62" width="306.51" y="328.2" x="424.89"/>
          <rect id="rect2310" style="stroke-linejoin:round;stroke:{{ $colour }};stroke-width:.78245;fill:{{ $colour }}" height="300.34" width="300.34" y="331.14" x="427.98"/>
          <path id="rect3250" sodipodi:nodetypes="cczcc" style="opacity:.19907;fill:#ffffff" d="m427.59 330.75h300.34s-47.35 61.4-122.43 102.97c-75.09 41.58-177.91 63.33-177.91 63.33v-166.3z"/>
          
        </g>
      </g>
<text font-size="15" font-family = "'Inter'" transform="matrix(1 0 0 1 25 350)">{{ $text }}</text>

    </svg>

    





</div>
<div class="section mt-3 mb-3">


  <svg version="1.1"
  id="svg2" xmlns:ns1="http://sozi.baierouge.fr" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:cc="http://creativecommons.org/ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:dc="http://purl.org/dc/elements/1.1/" sodipodi:docname="smerrell_polaroid_gloss.svg" sodipodi:version="0.32" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46dev+devel"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="369.99px"
  height="418.24px" viewBox="0 0 369.99 418.24" enable-background="new 0 0 369.99 418.24" xml:space="preserve">
<filter  id="filter2912" inkscape:collect="always">
 <feGaussianBlur  id="feGaussianBlur2914" stdDeviation="3.4782385" inkscape:collect="always"></feGaussianBlur>
</filter>
<sodipodi:namedview  width="800px" inkscape:zoom="1.895" showgrid="false" inkscape:cx="200" gridtolerance="10000" borderopacity="1.0" pagecolor="#ffffff" objecttolerance="10" guidetolerance="10" bordercolor="#666666" inkscape:cy="200" id="base" inkscape:pageshadow="2" inkscape:window-height="964" inkscape:current-layer="layer1" inkscape:window-y="-4" inkscape:window-x="-4" inkscape:window-width="1400" inkscape:pageopacity="0.0" inkscape:document-units="px">
 </sodipodi:namedview>
<g id="rect2893" sodipodi:nodetypes="ccczcc" filter="url(#filter2912)">
 <path fill="#8E8E8E" d="M1,5.72h368.365v407.739c0,0-92.097-8.011-184.182-8.011C93.085,405.448,1,413.459,1,413.459L1,5.72L1,5.72
     z"/>
</g>
<rect id="rect2889" x="1" y="1" fill="#F2F2F2" width="368.365" height="404.068"/>
<rect id="rect2916" x="14.197" y="12.325" opacity="0.5556" fill="#CCCCCC" enable-background="new    " width="341.958" height="344.312"/>
<rect id="rect2310" x="17.643" y="15.603" fill="#CCCCCD" width="335.075" height="336.104"/>
<image overflow="visible" width="1920" height="1920" xlink:href="skate.jpg"  transform="matrix(0.1745 0 0 0.1751 17.6433 15.6033)">
</image>
<path id="rect3250" sodipodi:nodetypes="cczcc" opacity="0.1991" fill="#FFFFFF" enable-background="new    " d="M14.967,13.284
 h339.164c0,0-53.47,68.875-138.256,115.503c-84.798,46.64-200.908,71.037-200.908,71.037V13.284z"/>
<rect x="19.168" y="365.767" fill="none" width="333.116" height="26.173"/>
<text transform="matrix(1 0 0 1 20.6358 384.8354)" font-family="'Inter'" font-size="18">Kernewek</text>
</svg>



----

    <button title="download" class="btn btn-success me-1 mb-1" >Save Image</button>
<script>
  const output = {"name": "{{ $text }}.png", "width": 1080, "height": 1080}
  document.querySelector("button").onclick = () => {
      const svgElem = document.querySelector("svg")
      // const uriData = `data:image/svg+xml;base64,${btoa(svgElem.outerHTML)}` // it may fail.
      const uriData = `data:image/svg+xml;base64,${btoa(new XMLSerializer().serializeToString(svgElem))}`
      const img = new Image()
      img.src = uriData
      img.onload = () => {
          const canvas = document.createElement("canvas");
          [canvas.width, canvas.height] = [output.width, output.height]
          const ctx = canvas.getContext("2d")
          ctx.drawImage(img, 0, 0, output.width, output.height)

          // 👇 download
          const a = document.createElement("a")
          const quality = 1.0 // https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/imageSmoothingQuality
          a.href = canvas.toDataURL("image/png", quality)
          a.download = output.name
          a.append(canvas)
          a.click()
          a.remove()
      }
  }
</script>
</div>