<div class="section full mt-2">
    <div class="section-title">Basic</div>
    <div class="content-header mb-05">Make time by adding <code>.time</code> and times.</div>
    <div class="wide-block">
        <!-- timeline -->
        <div class="timeline timed">
            <div class="item">
                <span class="time">August 19, 1946</span>
                <div class="dot bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-warning">was</mark> born </h4>                
                    <div class="text"><strong>Preterite. </strong>He was only born once, right there, right then. So that makes it a preterite tense.<br/> <s>He <u>used to</u> be born</s>❌ </div>
                </div>
            </div>
            <div class="item">
                <span class="time">1946 - 1947</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-info">was</mark> breastfed everyday</h4> 
                    <div class="text"> <strong>Imperfect. </strong> This was a repeated action (happened many times) over a period of time. So that makes it an imperfect tense.<br/> He <u>used to</u> be breastfed ✔️</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1947 - 1950</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-info">lived</mark> with his Nan</h4> 
                    <div class="text"> <strong>Imperfect. </strong>He lived with his grandmother over a long period of time.  <br/>He <u>used to</u> live with his nan ✔️</div>
                    
                </div>
            </div>
 
            <div class="item">
                <span class="time">19/Aug/50 - 21/Aug/50</span>
                <div class="dot bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-warning">moved</mark> to Hot Springs</h4>
                    <div class="text"><strong>Preterite. </strong>Although the move was over a period of time, it was only one action.<br/> <s>He <u>used to</u> move to Hot Springs</s>❌ </div>
                
                </div>
            </div>

            <div class="item">
                <span class="time">1950-1961</span>
                    <div class="dot  bg-info"></div>
                    <div class="content">
                        <h4 class="mb-1">He <mark class="bg-info">went</mark> to school</h4>
                        <div class="text"><strong>Imperfect. </strong> He went many times and often <br/> He <u>used to</u> go to school ✔️</div>
                    </div>
            </div>
            <div class="item">
                <span class="time">1952-1961</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    <h4 class="mb-1"><mark class="bg-info">Took</mark> on his step-fathers name during school</h4> 
                    <div class="text"><strong>Imperfect. </strong>He called himeself by the surname 'Clinton' many times over a period of time. <br/> He <u>used to</u> take his name ✔️</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1961</span>
                <div class="dot  bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He legally <mark class="bg-warning">Took</mark> on the Clinton name</h4> 
                    <div class="text"><strong>Preterite. </strong>Signed the legal documents once<br/> <s>He <u>used to</u> legally take on the name</s>❌ </div>
                </div>
            </div>
            <div class="item">
                <span class="time">1962-</span>
                <div class="dot bg-info"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-info">played</mark> the saxophone at school</h4>
                    <div class="text"><strong>Imperfect. </strong>Was a fond sax player so played it many times. <br/> He <u>used to</u> play the sax ✔️</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1963</span>
                <div class="dot bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark  class="bg-warning">met</mark> President JFK</h4>
                    <div class="text"><strong>Preterite. </strong>He only met JFK at the Whitehouse once.<br/> <s>He <u>used to</u> meet JFK</s>❌ </div>
                </div>
            </div>

            <div class="item">
                <span class="time">1965-1968</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-info">attended</mark> University in Washington, D.C</h4>
                    <div class="text"><strong>Imperfect. </strong> Went to many lectures over a period of time. <br/> He <u>used to</u> attend uni ✔️</div>
                </div>
            </div>

            <div class="item">
                <span class="time">1968</span>
                <div class="dot  bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-warning">received</mark> a BSc Degree</h4>
                    <div class="text"><strong>Preterite. </strong>Only recieved it once in his Graduation.<br/> <s>He <u>used to</u> recieve a BSc Degree</s>❌ </div>
                </div>
            </div>
            <div class="item">
                <span class="time">1968-1690</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-info">went</mark> to Oxford Uni</h4>
                    <div class="text"><strong>Imperfect. </strong> Spent a couple of years in Oxford, many visits. <br/> He <u>used to</u> oxford ✔️</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1968</span>
                <div class="dot  bg-warning"></div>
                <div class="content">
                    <h4 class="mb-1">He <mark class="bg-warning">smoked</mark></h4>
                    <div class="text"><strong>Preterite. </strong>Obviously just the once, and never inhaled.<br/> <s>He <u>used to</u> smoke</s>❌ not in his case, it was only once.  </div>
                </div>
            </div>
            <div class="item">
                <span class="time">1969</span>
                <div class="dot  bg-info"></div>
                <div class="content">  
                    <h4 class="mb-1"><mark class="bg-info">Was</mark> a member of the Oxford Uni Basketball Club</h4>
                    <div class="text"><strong>Imperfect. </strong>His membership was over a period of time. <br/> He <u>used to</u> be a member ✔️</div>
                </div>
            </div>
            <div class="item">
                <span class="time">12th August 1969</span>
                <div class="dot bg-danger"></div>
                <div class="content">         
                    <h4 class="mb-1"><mark class="bg-danger">Played</mark> Rugby for Oxford Uni</h4>
                    <div class="text">Difficult one. If he only played once or twice, I would class it as Preterite, but maybe if he played three or four times, that would be more of a continuus action so would be more imperfect </div>
                </div>
            </div>
            <div class="item">
                <span class="time">12th August 1969</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    
                    <h4 class="mb-1">He <mark class="bg-info">participated</mark> in War protests</h4>
                    <div class="text"><strong>Imperfect. </strong>As the plural 'protests' suggest it happened many times. So this would be imperfect.</div>
                </div>
            </div>
            <div class="item">
                <span class="time">October 1969</span>
                <div class="dot  bg-warning"></div>
                <div class="content">
                    
                    <h4 class="mb-1"><mark  class="bg-warning">Organized</mark> an End the War event</h4>
                    <div class="text"><strong>Preterite. </strong>As the singular 'event' it gives the impression it happend once. Therefore it would be the preterite.</div>
                </div>
            </div>
            <div class="item">
                <span class="time">11th August 1971</span>
                <div class="dot  bg-warning"></div>
                <div class="content">
                    
                    <h4 class="mb-1">He <mark class="bg-warning">met</mark> his future wife, Hillary</h4>
                    <div class="text"><strong>Preterite. </strong>This is once in a lifetime event at his fist meet.</div>
                </div>
            </div>

            <div class="item">
                <span class="time">1991-1992</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    
                    <h4 class="mb-1"><mark class="bg-warning">Won</mark> the 1992 presidential election</h4>
                    <div class="text"><strong>Preterite. </strong>This event happend once so the verb tense is a preterite.</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1995</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    
                    <h4 class="mb-1"><mark class="bg-info">Worked</mark> to stabilize relations with Vietnam</h4>
                    <div class="text"><strong>Preterite. </strong>His work was over many days, and ongoing.</div>
                </div>
            </div>

            <div class="item">
                <span class="time">1997-1998</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    
                    <h4 class="mb-1">He <mark class="bg-info">had</mark> relations with Lewinski</h4>                  
                    <div class="text"><strong>Imperfect. </strong> Obviously happend many times and not just the once. </div>
                </div>
            </div>
            <div class="item">
                <span class="time">1998</span>
                <div class="dot bg-warning"></div>
                <div class="content">
                    
                    <h4 class="mb-1">He <mark class="bg-warning">gave</mark> 140 pardons.</h4>                  
                    <div class="text">Although pardons is plural, he gave them all on his last day, making it one action.</div>
                </div>
            </div>
            <div class="item">
                <span class="time">1992-1998</span>
                <div class="dot  bg-info"></div>
                <div class="content">
                    
                    <h4 class="mb-1">He <mark class="bg-info">was</mark> president</h4>
                    <div class="text"><strong>Imperfect. </strong> He was over a period of time</div>
                </div>
            </div>
            
            

        </div>
        <!-- * timeline -->
         
    </div>

</div>